*{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-links-nav{
    display: flex;
}

.link-nav{
    margin-right: 50px;
}

/**/

.logo{
    width: 100px;
}

.links-paginas{
    display: flex;
    justify-content: space-between;
    background-color: rgba(197, 65, 157, 0.589);
    border-radius: 20px;
    padding: 20px;
    margin-bottom:40px;
    align-items: center;

}


.conteudo{
    background-color: rgba(255, 192, 203, 0.219);
    margin: 40px 40px 10px 40px;

}

.apresentacao{
    margin-bottom: 40px;
    display: flex;
}

.carrossel-container{
    display: flex;
    width: 350px;
}

.carrossel-imagens{
    display: flex;
    width: 350px;
    height: 350px;
    overflow: hidden;

}

.fotoPerfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.texto-apresentacao{
    margin-left: 10px;
}


.livro-container{
    margin-bottom: 40px;
}


.rodape{
    background-color: rgba(197, 65, 157, 0.589);
    border-radius: 20px;
    padding: 20px;
}
.social-link{
    width: 30px;
}

.footer-content{
    display:flex;
    justify-content:right;
    align-items: center;

}

.social-link{
    margin-left: 100px;
}

.margem-links{
  height: 50%;
  border-color:black;
}

.botao-mobile {
  display: none;
  
}

/*Mobile*/
@media (max-width: 550px) {
  *{
    margin: 0px;
    padding: 0px;
  }
  .apresentacao{
    display: block;
  }
  
  .conteudo{
    background-color: #eda0ecc9;
    margin: 0 0 0 0;

  }
  
  .links-paginas{
    padding: 0;
    display: none;
    justify-content: space-between;
    border-radius: 0;
    width: 50%;
    height: 100%;
    position: fixed;
    background-color: rgb(177, 89, 172);
    border-radius: 0 0 20px 0;
  }
  
  .container-links-nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    justify-content:space-around;
  
    
  }

  .logo{
    display: none;
  }
  
  .link-nav{
    /*border: 10% solid black;*/
    width: 99%;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    
  }
  


  .margem-links{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color:white;
    
  }

  .botao-mobile {
    display: flex;
    position: fixed;
    border: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 0 10px 0;

  }


}