*{
    list-style: none;
    margin: 0;
    padding: 0;
}


.apresentacao{
    display: flex;
    
}

.carrossel-container{
    display: flex;
    width: 250px;

    
}

.carrossel-imagens{
    display: flex;
    width: 250px;
    height: 250px;
    overflow: hidden;


}

.fotoPerfil{
    border-radius: 50%;
    border: 1.5px solid rgb(255, 5, 117);
    
    
}

.texto-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-left: 10px;
}

.texto-apresentacao-continucao{
  margin-top: 2px;
}

.texto-apresentacao p{
  font-size: clamp(0.5em,1em,1.5em);
}

.livro-container{
  margin-top: 40px;
    margin-bottom: 40px;
}


/*-------------------Mobile-------------------*/
@media (max-width: 768px) {
  main{
    padding: 2%;
  }
  .apresentacao{
    display: block;
    display: flex;
    flex-direction:column;
    align-items: center;
    
  }

  .texto-apresentacao{
    margin: 20px 0 20px 0;
}

*{
  margin: 0px;
  padding: 0px;
}

.conteudo{
  margin: 0 0 0 0;

}


}
